USE [master]
GO
/****** Object:  Database [FNABANK]    Script Date: 7.11.2022 23:39:27 ******/
CREATE DATABASE [FNABANK]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FNABANK', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\FNABANK.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FNABANK_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\FNABANK_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FNABANK].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FNABANK]
GO
/****** Object:  Table [dbo].[Bireysel]    Script Date: 7.11.2022 23:39:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bireysel](
	[bireyselDogumTar] [datetime] NOT NULL,
	[bireyselTCKimlikNo] [char](11) NOT NULL,
	[musteriID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hesap]    Script Date: 7.11.2022 23:39:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hesap](
	[hesapID] [char](25) NOT NULL,
	[musteriID] [int] NOT NULL,
	[bakiye] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kurumsal]    Script Date: 7.11.2022 23:39:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kurumsal](
	[kurumsalFirmaAdi] [varchar](50) NOT NULL,
	[kurumsalVergiNo] [int] NOT NULL,
	[musteriID] [int] NOT NULL,
	[kurumsalKredi] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Musteri]    Script Date: 7.11.2022 23:39:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musteri](
	[musteriID] [int] NOT NULL,
	[musteriAdı] [varchar](50) NOT NULL,
	[musteriSoyadı] [varchar](50) NOT NULL,
	[musteriMail] [varchar](50) NOT NULL,
	[musteriTel] [nchar](13) NOT NULL,
	[musteriHesapID] [char](25) NULL,
 CONSTRAINT [PK_Musteri] PRIMARY KEY CLUSTERED 
(
	[musteriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Hesap]  WITH CHECK ADD  CONSTRAINT [FK_Hesap_Musteri] FOREIGN KEY([musteriID])
REFERENCES [dbo].[Musteri] ([musteriID])
GO
ALTER TABLE [dbo].[Hesap] CHECK CONSTRAINT [FK_Hesap_Musteri]
GO
ALTER TABLE [dbo].[Kurumsal]  WITH CHECK ADD  CONSTRAINT [FK_Kurumsal_Musteri] FOREIGN KEY([musteriID])
REFERENCES [dbo].[Musteri] ([musteriID])
GO
ALTER TABLE [dbo].[Kurumsal] CHECK CONSTRAINT [FK_Kurumsal_Musteri]
GO
USE [master]
GO
