USE [master]
GO
/****** Object:  Database [FNABANK1]    Script Date: 15.11.2022 01:05:27 ******/
CREATE DATABASE [FNABANK1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FNABANK1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\FNABANK1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FNABANK1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\FNABANK1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FNABANK1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FNABANK1]
GO
/****** Object:  Table [dbo].[admin]    Script Date: 15.11.2022 01:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin](
	[adminID] [int] NOT NULL,
	[adminsifre] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bireyselMusteri]    Script Date: 15.11.2022 01:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bireyselMusteri](
	[bireyselAdres] [varchar](50) NOT NULL,
	[bireyselDogumTar] [date] NOT NULL,
	[ID] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hesap]    Script Date: 15.11.2022 01:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hesap](
	[hesapID] [int] NOT NULL,
	[hesapAdı] [varchar](50) NOT NULL,
	[hesapBakiye] [int] NOT NULL,
	[ID] [varchar](50) NOT NULL,
	[hesapTürü] [varchar](50) NULL,
 CONSTRAINT [PK_hesap] PRIMARY KEY CLUSTERED 
(
	[hesapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kurumsalMusteri]    Script Date: 15.11.2022 01:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kurumsalMusteri](
	[ID] [varchar](50) NOT NULL,
	[kurumsalFirmaAdı] [varchar](50) NOT NULL,
	[kurumsalFirmaVergiNo] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[musteri]    Script Date: 15.11.2022 01:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[musteri](
	[ID] [varchar](50) NOT NULL,
	[Ad] [varchar](50) NOT NULL,
	[Soyad] [varchar](50) NOT NULL,
	[TCKimlikno] [bigint] NOT NULL,
	[Telefon] [bigint] NOT NULL,
	[Mail] [varchar](50) NOT NULL,
	[Şifre] [int] NOT NULL,
 CONSTRAINT [PK_musteri] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[bireyselMusteri]  WITH CHECK ADD  CONSTRAINT [FK_bireyselMusteri_musteri] FOREIGN KEY([ID])
REFERENCES [dbo].[musteri] ([ID])
GO
ALTER TABLE [dbo].[bireyselMusteri] CHECK CONSTRAINT [FK_bireyselMusteri_musteri]
GO
ALTER TABLE [dbo].[hesap]  WITH CHECK ADD  CONSTRAINT [FK_hesap_musteri] FOREIGN KEY([ID])
REFERENCES [dbo].[musteri] ([ID])
GO
ALTER TABLE [dbo].[hesap] CHECK CONSTRAINT [FK_hesap_musteri]
GO
ALTER TABLE [dbo].[kurumsalMusteri]  WITH CHECK ADD  CONSTRAINT [FK_kurumsalMusteri_musteri] FOREIGN KEY([ID])
REFERENCES [dbo].[musteri] ([ID])
GO
ALTER TABLE [dbo].[kurumsalMusteri] CHECK CONSTRAINT [FK_kurumsalMusteri_musteri]
GO
USE [master]
GO
